<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jokezz</title>
</head>
<body>
    <h3>Enter keyword to get Joke..</h3>
    <form action="/submit" method="post">
        <input type="text" name="key" id="key">
        <input type="submit">
    </form>
    <div>
       <h4><%= data.joke %></h4> 
    </div>
</body>
</html>